<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="icon" type="image/svg" href="/public/img/favicon.svg">-->

	<title>{{tab-title}}</title>

	<!-- CSS Link Must Contain "rel" -->
	<link type="text/css" rel="stylesheet" href="/public/css/header.css">
	<link type="text/css" rel="stylesheet" href="/public/css/body.css">
	<link type="text/css" rel="stylesheet" href="/public/css/footer.css">
	<!-- CSS Link Must Contain "rel" -->

	<!-- JS -->
	<script type="text/javascript" src="/public/js/autoSizeSections.js"></script>
	<script type="text/javascript" src="/public/js/menu.js"></script>
	<script type="text/javascript" src="/public/js/scrollControl.js"></script>
	<script type="text/javascript" src="/public/js/dynamicTiles.js"></script>
	<!-- JS -->
</head>

<body>
	<nav id="menu">
		<div id="openIcon" class="spin-180">&#9776;</div>
		<div id="closeIcon" class="spin-180">X</div>
		<div id="list">
			<a href="/">Home</a>
			<a href="/contact">Contact Us</a>
			<a href="/about">About Us</a>
		</div>
	</nav>


	<a id="phone" href="tel:1-520-870-7847">
			<span id="iconPhone">&#9742;</span>
			<span id="number">520-870-7847</span>
	</a>


	<div id="uarrow">&#9650;</div>
	<div id="darrow">&#9660;</div>


	<section id="top">
		<h1 id="title">{{{title}}}</h1>
		<h2>{{sub-title}}</h2>
